body{
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex-wrap:wrap;
    height:100vh;
}

header{
    height:25%;
    background-color:sandybrown;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.header-container1{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:rgba(0, 216, 216, 0.782);
    height:45%;
    width:48%;
}

.header-child1{
    background-color: rgba(108, 255, 255, 0.857);
    width:22%;
    height:50%;
}

.header-child2{
    background-color: rgba(108, 255, 255, 0.857);
    width:50%;
    height:50%;
}

.header-container2{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgba(245, 43, 245, 0.707);
    height:45%;
    width:48%;
    
}

.header-child3{
    width:98%;
    height:50%;
    background-color:rgb(213, 160, 213);
 
}


main{
    height:55%;
    background-color:sandybrown;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;

}

.main-container1{
    background-color: cornflowerblue;
    display:flex;
    flex-direction: row;
    flex-flow:wrap;
    justify-content: space-around;
    align-items:center;
    width:65%;
    height:90%;    
}

.main-items1{
    background-color: yellow;
    height:20%;
    width:45%;
}

.main-items1:last-child{
    flex-grow:2;
    max-width:95%;
}


.main-container2{
    background-color: darkcyan;
    width:30%;
    height:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-items4{
    background-color: yellow;
    height:20%;
    width:95%;
    margin:1%;
}

footer{
    height:15%;
    background-color:sandybrown;
    display:flex;
    align-items:center;
    justify-content:center;
}

.footer-box{
    width:98%;
    height:60%;
    background-color:rgba(243, 16, 0, 0.754);
}