body{
    height:100vh;
    padding:0;
    margin:0;
}

.border{
    position:relative;
    width:800px;
    height:600px;
    border:2px solid blue;
}

.pelota{
    position:absolute;
    width:100px;
    border-radius: 50%;
    /* nom animació per al keyframe i la durada de l'animació */
    animation:bounce 2.5s linear infinite alternate;
    
}


@keyframes bounce
{
    0%
    {
        top:50px;
        left: 0%;
        transform: rotate(0deg) ;
        transition-timing-function:ease-in; 
        
    }    
    35%
    {
        top: 500px;
        left: 150px;
        transform: rotate(360deg)scale(1,1);
        transition-timing-function:ease-out; 
    
    } 
    
    65%
    {
        top: 50px;
        left: 400px;
        transform: rotate(180deg);
        transition-timing-function:ease-in; 
    }
    95%
    {
        top: 480px;
        left: 700px;
        transform: rotate(45deg);
        transition-timing-function:ease-out; 
    }    
    100%
    {
        top: 500px;
        left: 680px;
        transform: rotate(0deg);
    }
   
}
